<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Sucursal</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form th:action="@{'/sucursales/'+${sucursal.id}+'/edit/save'}" th:object="${sucursal}" method="post">
        <div th:replace="~{fragments/sucursalForm :: sucursalForm(titulo='Editar Sucursal', sucursal=${sucursal}, ciudades=${ciudades})}">
        </div>
    </form>
</body>
</html>
